*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

body{
height:100vh;
display:flex;
justify-content:center;
align-items:center;
background:linear-gradient(135deg,#97abe5,#224abe);
}

.login-container{
background:white;
padding:40px;
width:400px;
border-radius:12px;
box-shadow:0 10px 30px rgba(0,0,0,0.2);
}

h2{
text-align:center;
margin-bottom:30px;
}

.input-group{
margin-bottom:20px;
}

label{
display:block;
margin-bottom:8px;
font-weight:bold;
}

input{
width:100%;
padding:12px;
border:1px solid #ccc;
border-radius:6px;
font-size:16px;
}

input:focus{
outline:none;
border-color:#4e73df;
}

.password-box{
display:flex;
gap:10px;
}

.password-box input{
flex:1;
}

.password-box button{
padding:12px;
border:none;
background:#b9b4b4;
cursor:pointer;
border-radius:6px;
}

.login-btn{
width:100%;
padding:14px;
background:#7993e8;
color:white;
border:none;
border-radius:6px;
font-size:16px;
cursor:pointer;
}

.login-btn:hover{
background:#3758c8;
}

.error{
display:block;
margin-top:6px;
color:red;
font-size:14px;
}

.success{
border:2px solid green;
}

.invalid{
border:2px solid red;
}